@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins&display=swap');

:root {
  font-family: "Poppins", sans-serif;
  color: white;
}

/* css reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
/* end css reset */

h1, h2, h3, h4, h5, h6 {
  font-family: "Paytone One", serif;
  font-weight: 400;
  text-transform: uppercase;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(176deg,rgb(18,24,27) 50%,rgb(32,39,55) 100%);
  background-attachment: fixed;
}

.scrolling {
  padding-block: 100vh;
}

.bar {
  width: 8rem;
  display: block;
  margin-inline: auto;
  margin-block: 4rem;
  padding: .125rem;
  border-radius: 100vmax;
  background: rgb(178 190 205 / .6);
}